html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

div.bg-white {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
}

input#urlInput,
button {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 1rem;
}

#qrcode canvas {
  max-width: 100%;
  height: auto !important;
  display: block;
}

footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  div.bg-white {
    width: 95%;
    max-width: none;
    padding: 2.5rem;
    transform: scale(1.3);
    transform-origin: center;
  }

  input#urlInput,
  button {
    font-size: 1.1rem;
    padding: 1rem;
  }
}
